{% extends "base.html" %} {% block title %}Employee{% endblock %} {% block content %}

<head>
    <style>
      .align-right{
        text-align: right;
        border:0;
        padding-top: 15px;
        padding-right: 30px;
      }
      .align-left{
        text-align: left;
      }
    </style>
</head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="/" class="app-brand-link">
              <span class="app-brand-logo demo">
                <img src="https://wongwenkang-employee.s3.amazonaws.com/logo.jpg" alt="Avatar" width="40px" height="45px" />
              </span>
              <span class="app-brand-text fw-bolder ms-2"><h3>3C Production</h3></span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item">
              <a href="index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">About Us</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-user-circle"></i>
                <div data-i18n="Account">Employee</div>
              </a>
            </li>
            <li class="menu-item active open">
              <a href="attendance" class="menu-link">
                <i class="menu-icon tf-icons bx bx-calendar-check"></i>
                <div data-i18n="Notifications">Attendance</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="leave" class="menu-link">
                <i class="menu-icon tf-icons bx bx-detail"></i>
                <div data-i18n="Form Layouts">Leave</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="payroll" class="menu-link">
                <i class="menu-icon tf-icons bx bx-credit-card"></i>
                <div data-i18n="Connections">Payroll</div>
              </a>
            </li>
          </ul>
        </aside>
        <!-- / Menu -->
        <div class="layout-page">
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4">Attendance</h4>

              <div class="row">
                <div class="col-md-12">
                  <div class="card mb-4">
                    <table>
                      <tr>
                        <th>
                          <h4 class="card-header"><b><u>Attendance List</u></b></h4>
                          <h5 style= "padding-left: 26px" >Manage employee attendance here:</h5>
                         
                        </th>  
                        <th  class="align-right">
                          <div class="mt-3">
                            <button type="button" class="btn btn-primary me-2 mb-4" tabindex="0" data-bs-toggle="modal"
                              data-bs-target="#basicModal">
                                Add Attendance
                                <i class="bx bx-upload d-block d-sm-none"></i>
                              </button>
                            <div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel1">Add Attendance Data</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                      aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <form id="formAccountSettings" method="POST"
                                      class="align-left" action="/addAttend" enctype="multipart/form-data">
                                      <div class="row">
                                        <div class="mb-3">
                                          <label for="id" class="form-label">Employee ID</label>
                                          <input class="form-control" type="text" id="id" name="emp_id" autofocus />
                                        </div>
                                        <div class="mb-3 col-md-6">
                                          <label for="firstName" class="form-label">Check In Time</label>
                                          <input class="form-control" type="time" step="1" id="firstName" name="check_in"
                                            autofocus />
                                        </div>
                                        <div class="mb-3 col-md-6">
                                          <label for="lastName" class="form-label">Check Out Time</label>
                                          <input class="form-control" type="time" step="1" name="check_out" id="lastName" />
                                        </div>                                      
                                      </div>
                                      <div class="modal-footer">
                                        <div class="align-right">
                                          <button type="submit" class="btn btn-primary me-2">Save changes</button>
                                          <button type="reset" class="btn btn-outline-secondary">Clear</button>
                                        </div>
                                      </div>
                                    </form>
                                  </div>
                              
                                </div>
                              </div>
                            </div>
                          </div>
                        </th>
                      </tr>
                    </table>  
                    
                    
                    <!-- Account -->
                    <div class="content-wrapper">
                      <!-- Content -->
          
                      <div class="container-xxl flex-grow-1 container-p-y">
                        <!-- <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tables /</span> Basic Tables</h4> -->
          
                        <!-- Basic Bootstrap Table -->
                        <div class="card">
                          <!-- <h5 class="card-header">Table Basic</h5> -->
                          <div class="table-responsive text-nowrap">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>Attendance id</th>
                                  <th>Employee Id</th>
                                  <th>CHECK IN</th>
                                  <th>CHECK OUT</th>
                                  <th>TOTAL HOURS</th>
                                  <th>STATUS</th>
                                  <th>OVERTIME</th>
                                  <th>Actions</th>
                                </tr>
                              </thead>
                              <tbody class="table-border-bottom-0">
                                {% for attend in attendance %}
                                <tr>
                                  <td>{{ attend[0] }}</td>
                                  <td>{{ attend[1] }}</td>
                                  <td>{{ attend[2] }}</td>
                                  <td>{{ attend[3] }}</td>
                                  <td>{{ attend[4] }} hr</td>
                                  <td>{{ attend[5] }}</td>
                                  <td>{{ attend[6] }} hr</td>
                                  <!-- <td>
                                      <span class="badge bg-label-success me-1">Valid</span>
                                  </td> -->
                                  <td>
                                    <button type="button" class="btn btn-primary" tabindex="0" data-bs-toggle="modal"
                                    data-bs-target="#basicModal{{ attend[0] }}">
                                        Edit
                                      <i class="bx bx-upload d-block d-sm-none"></i>
                                    </button>
                                    <!-- <div class="dropdown">                                
                                        <a class="dropdown-item" href="javascript:void(0);" tabindex="0" data-bs-toggle="modal"
                                        data-bs-target="#basicModal"
                                          ><i class="bx bx-edit-alt me-2"></i> Edit</a>                                  
                                    </div> -->
                                    <div class="mt-3">
                                      <div class="modal fade" id="basicModal{{ attend[0] }}" tabindex="-1" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel1">Update Attendance Data</h5>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                              <form id="formAccountSettings" method="POST"
                                                class="align-left" action="/attendance/{{ attend[0] }}" enctype="multipart/form-data">
                                                <div class="row">
                                                  <div class="mb-3">
                                                    <label for="id" class="form-label">Attendance ID</label>
                                                    <input class="form-control" type="text" id="id" name="edit_emp_id" value="{{ attend[1] }}" disabled autofocus />
                                                  </div>
                                                  <div class="mb-3 col-md-6">
                                                    <label for="firstName" class="form-label">Check In Time</label>
                                                    <input class="form-control" type="time" step="1" id="firstName" name="edit_check_in" value="{{ attend[2] }}"
                                                      autofocus />
                                                  </div>
                                                  <div class="mb-3 col-md-6">
                                                    <label for="lastName" class="form-label">Check Out Time</label>
                                                    <input class="form-control" type="time" step="1" name="edit_check_out" id="lastName" value="{{ attend[3] }}" />
                                                  </div>                                      
                                                </div>
                                                <div class="modal-footer">
                                                  <div class="align-right">
                                                    <button type="submit" class="btn btn-primary me-2">Save changes</button>
                                                    <button type="reset" class="btn btn-outline-secondary">Reset</button>
                                                  </div>
                                                </div>
                                              </form>
                                            </div>
                                        
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </td>
                                </tr>   
                                {% endfor %}                             
                              </tbody>
                            </table>
                          </div>
                        </div>
                    
                    </div>
                    <!-- /Account -->
                  </div>
                  
                </div>
              </div>
            </div>
            <!-- / Content -->

            <!-- Footer -->
            
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
  </body>
{% endblock %}
