{% extends "base.html" %} {% block title %}Employee{% endblock %} {% block content %}

<head>
    <style>
      .align-right{
        text-align: right;
        border:0;
        padding-top: 15px;
        padding-right: 30px;
      }
      .align-left{
        text-align: left;
      }
    </style>
</head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="/" class="app-brand-link">
              <span class="app-brand-logo demo">
                <img src="https://wongwenkang-employee.s3.amazonaws.com/logo.jpg" alt="Avatar" width="40px" height="45px" />
              </span>
              <span class="app-brand-text demo menu-text fw-bolder ms-2">3C</span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item active open">
              <a href="index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">About Us</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-user-circle"></i>
                <div data-i18n="Account">Employee</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="attendance" class="menu-link">
                <i class="menu-icon tf-icons bx bx-calendar-check"></i>
                <div data-i18n="Notifications">Attendance</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="leave" class="menu-link">
                <i class="menu-icon tf-icons bx bx-detail"></i>
                <div data-i18n="Form Layouts">Leave</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="payroll" class="menu-link">
                <i class="menu-icon tf-icons bx bx-credit-card"></i>
                <div data-i18n="Connections">Payroll</div>
              </a>
            </li>
          </ul>
        </aside>
        <!-- / Menu -->
        <div class="layout-page">
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4">About Us</h4>

              <div class="row">
                <div class="col-md-12">
                  <div class="card mb-4">
                    <table>
                      <tr>
                        <th>
                          <h4 class="card-header"><b><u>Our Team</u></b></h4>
                          <h5 style= "padding-left: 26px" >We provide IT service</h5>
                          <h5 style= "padding-left: 26px" ><em>Create, Creative and Captivate</em></h5>
                         
                        </th>  
                        
                      </tr>
                      <tr>
                        <th>
                          <img src="https://yewkokwei-employee.s3.amazonaws.com/WenKang.png" alt="Avatar" width="280px" height="280px" />                     
                          </br> <h4><b style= "padding-left: 60px"> Wong Wen Kang</b></h4>
                          <h5><b style= "padding-left: 100px"> CEO</b></h5>
                          <h5><b style= "padding-left: 60px"> wenkang@gmail.com</b></h5>
                        </th>
                        <th>
                          <img src="https://yewkokwei-employee.s3.amazonaws.com/Kenny.png" alt="Avatar" width="280px" height="280px" /> 
                        </br> <h4><b style= "padding-left: 60px"> Yew Kok Wei</b></h4>
                         <h5><b style= "padding-left: 100px"> CFO</b></h5>
                         <h5><b style= "padding-left: 60px"> kenny@gmail.com</b></h5>
                        </th>
                        <th>
                          <img src="https://yewkokwei-employee.s3.amazonaws.com/KhaiWen.png" alt="Avatar" width="280px" height="280px" /> 
                        </br> <h4><b style= "padding-left: 60px"> Teh Khai Wen</b></h4>
                        <h5><b style= "padding-left: 100px"> CTO</b></h5>
                        <h5><b style= "padding-left: 60px"> khaiwen@gmail.com</b></h5>
                        </th>
                        <th>
                          <img src="https://yewkokwei-employee.s3.amazonaws.com/YongSheng.png" alt="Avatar" width="280px" height="280px" /> 
                        </br> <h4><b style= "padding-left: 60px"> Tay Yong Sheng</b></h4>
                        <h5><b style= "padding-left: 100px"> CIO</b></h5>
                        <h5><b style= "padding-left: 60px"> tysheng@gmail.com</b></h5>
                        </th>
                      </tr>
                    </table>  
                    
                    
                    <!-- Account -->
                    <div class="content-wrapper">
                      <!-- Content -->
          
                      <div class="container-xxl flex-grow-1 container-p-y">
                        <!-- <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tables /</span> Basic Tables</h4> -->
          
                        <!-- Basic Bootstrap Table -->
                        <div class="card">
                          <!-- <h5 class="card-header">Table Basic</h5> -->
                          <div class="table-responsive text-nowrap">
                            <table class="table">
                              <thead>
                                <tr>
                                 
                                </tr>
                              </thead>
                              
                            </table>
                          </div>
                        </div>
                    
                    </div>
                    <!-- /Account -->
                  </div>
                  
                </div>
              </div>
            </div>
            <!-- / Content -->

            <!-- Footer -->
            
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
  </body>
{% endblock %}
