{% extends "base.html" %} {% block title %}Payroll{% endblock %} {% block content %}

<head>
    <style>
      .align-right{
        text-align: right;
        border:0;
        padding-top: 15px;
        padding-right: 30px;
      }
      .align-left{
        text-align: left;
      }
    </style>
</head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="/" class="app-brand-link">
              <span class="app-brand-logo demo">
                <img src="https://wongwenkang-employee.s3.amazonaws.com/logo.jpg" alt="Avatar" width="40px" height="45px" />
              </span>
              <span class="app-brand-text fw-bolder ms-2"><h3>3C Production</h3></span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item">
              <a href="index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">About Us</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-user-circle"></i>
                <div data-i18n="Account">Employee</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="attendance" class="menu-link">
                <i class="menu-icon tf-icons bx bx-calendar-check"></i>
                <div data-i18n="Notifications">Attendance</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="leave" class="menu-link">
                <i class="menu-icon tf-icons bx bx-detail"></i>
                <div data-i18n="Form Layouts">Leave</div>
              </a>
            </li>
            <li class="menu-item active open">
              <a href="payroll" class="menu-link">
                <i class="menu-icon tf-icons bx bx-credit-card"></i>
                <div data-i18n="Connections">Payroll</div>
              </a>
            </li>
          </ul>
        </aside>
        <!-- / Menu -->
        <div class="layout-page">
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4">Payroll</h4>

              <div class="row">
                <div class="col-md-12">
                  <div class="card mb-4">
                    <table>
                      <tr>
                        <th>
                          <h4 class="card-header"><b><u>Payroll List</u></b></h4>
                          <h5 style= "padding-left: 26px" >Manage employee payroll here:</h5>
                        </th>
                        <th class="align-right">
                          <div class="mt-3">
                            <button type="button" class="btn btn-primary me-2 mb-4" tabindex="0" data-bs-toggle="modal"
                              data-bs-target="#basicModal">
                                Add Payroll
                                <i class="bx bx-upload d-block d-sm-none"></i>
                              </button>
                            <div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel1">Add Payroll Data</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                      aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <form id="formAccountSettings" method="POST"
                                      class="align-left" action="/addPayroll" enctype="multipart/form-data">
                                      <div class="row">
                                        <div class="mb-3">
                                          <label for="emp_id" class="form-label">Employee ID</label>
                                          <input class="form-control" type="text" id="emp_id" name="emp_id" autofocus />
                                        </div>
                                        <div class="mb-3">
                                          <label for="py_amt" class="form-label">Payroll Amount</label>
                                          <input class="form-control" type="text" step="1" id="py_amt" name="py_amt" autofocus />
                                        </div>                                    
                                      </div>
                                      <div class="modal-footer">
                                        <div class="align-right">
                                          <button type="submit" class="btn btn-primary me-2">Save changes</button>
                                          <button type="reset" class="btn btn-outline-secondary">Clear</button>
                                        </div>
                                      </div>
                                    </form>
                                  </div>
                              
                                </div>
                              </div>
                            </div>
                          </div>
                        </th>
                      </tr>
                    </table>  
                      
                    
                    <!-- Account -->
                    <div class="content-wrapper">
                      <!-- Content -->
          
                      <div class="container-xxl flex-grow-1 container-p-y">
                        <!-- <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tables /</span> Basic Tables</h4> -->
          
                        <!-- Basic Bootstrap Table -->
                        <div class="card">
                          <!-- <h5 class="card-header">Table Basic</h5> -->
                          <div class="table-responsive text-nowrap">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>Payroll ID</th>
                                  <th>Employee ID</th>
                                  <th>Payroll <br> Amount</th>
                                  <th>Payroll <br> Status</th>
                                  <th>Payout Date</th>
                                  <th>Manage</th>
                                  <th>Pay Action</th>
                                </tr>
                              </thead>
                              <tbody class="table-border-bottom-0">
                                {% for pr in payroll %}
                                <tr>
                                  <td>{{ pr[0] }}</td>
                                  <td>{{ pr[1] }}</td>
                                  <td>{{ pr[2] }}</td>                                  
                                  <td>{{ pr[3] }}</td>
                                  <td>{{ pr[4] }}</td>
                                  <td>
                                    <button type="button" class="btn btn-primary" tabindex="0" data-bs-toggle="modal"
                                    data-bs-target="#basicModal{{ pr[0] }}">
                                        Edit
                                      <i class="bx bx-upload d-block d-sm-none"></i>
                                    </button>
                                    <div class="mt-3">
                                      <div class="modal fade" id="basicModal{{ pr[0] }}" tabindex="-1" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel1">Update Payroll Data</h5>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                              <form id="formAccountSettings" method="POST"
                                                class="align-left" action="/editPayroll/{{ pr[0] }}" enctype="multipart/form-data">
                                                <div class="row">
                                                  <div class="mb-3">
                                                    <label for="emp_id" class="form-label">Employee ID</label>
                                                    <input class="form-control" type="text" id="emp_id" name="emp_id" value="{{ pr[1] }}" disabled autofocus />
                                                  </div>
                                                  <div class="mb-3">
                                                    <label for="edit_pyamt" class="form-label">Payroll Amount</label>
                                                    <input class="form-control" type="text" step="1" id="edit_pyamt" name="edit_pyamt" value="{{ pr[2] }}"
                                                      autofocus />
                                                  </div>                                    
                                                </div>
                                                <div class="modal-footer">
                                                  <div class="align-right">
                                                    <button type="submit" class="btn btn-primary me-2">Save changes</button>
                                                    <button type="reset" class="btn btn-outline-secondary">Reset</button>
                                                  </div>
                                                </div>
                                              </form>
                                            </div>
                                        
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </td>

                                  <td>
                                    <button type="button" class="btn btn-primary" tabindex="0" data-bs-toggle="modal"
                                    data-bs-target="#basicModal2{{ pr[0] }}">
                                        Pay
                                      <i class="bx bx-upload d-block d-sm-none"></i>
                                    </button>
                                    <div class="mt-3">
                                      <div class="modal fade" id="basicModal2{{ pr[0] }}" tabindex="-1" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel1">Pay Payroll</h5>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                              <form id="formAccountSettings" method="POST"
                                                class="align-left" action="/payPayroll/{{ pr[0] }}" enctype="multipart/form-data">
                                                <div class="row">
                                                  <div class="mb-3">
                                                    <label for="emp_id" class="form-label">Employee ID</label>
                                                    <input class="form-control" type="text" id="emp_id" name="emp_id" value="{{ pr[1] }}" disabled autofocus />
                                                  </div>
                                                  <div class="mb-3">
                                                    <label for="edit_pyamt" class="form-label">Payroll Amount</label>
                                                    <input class="form-control" type="text" id="edit_pyamt" name="edit_pyamt" value="{{ pr[2] }}"
                                                    disabled autofocus />
                                                  </div>                                    
                                                </div>
                                                <div class="modal-footer">
                                                  <div class="align-right">
                                                    <button type="submit" class="btn btn-primary me-2">Pay</button>
                                                  </div>
                                                </div>
                                              </form>
                                            </div>
                                        
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </td>
                                </tr>   
                                {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- / Content -->

            <!-- Footer -->
            
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
  </body>
{% endblock %}
